/* Contact Us section Styles */
.contact-us {
    background-color: #f7f7f7;
    padding: 50px;
    text-align: center;
  }
  
  .contact-us {
    background-color: #f7f7f7;
    padding: 50px;
    text-align: center;
  }
  
  .contact-us h2 {
    font-size: 30px;
    margin-bottom: 30px;
  }
  
  .contact-form input,
  .contact-form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .contact-form button {
    background-color: #ff6565;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contact-form button:hover,
  .contact-form button:active {
    opacity: 0.9;
  }