/* Footer Styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.footer-links {
  list-style: none;
  display: flex;
  margin-left: auto;
}

.footer-links li {
  margin-left: 15px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
}

.footer-logo img {
  width: 100px;
}

.footer-text {
  font-size: 12px;
}